<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
<meta name="description" content="Rent out or rent from anybody on the PartyShare marketplace. Find great deals on beautiful looking party rental items near you.">
<title>PartyShare - Party Rental Marketplace</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="apple-touch-icon" sizes="180x180" href="/views/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/views/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/views/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="48x48" href="/views/favicons/favicon-48x48.png"
<link rel="manifest" href="/views//favicons/site.webmanifest">

<base href=<%= process.env.BASE_URL %> ></base>

<link href="/views/<%=name%>/style.css" rel="stylesheet" type="text/css">
<% if(locals.scripts){
    for(let i=0;i<scripts.length; i++){%>
    <script src="<%=scripts[i]%>"> </script>
<%}};%>
<script defer src="/views/<%=name%>/script.js"></script>
