<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
<meta name="description" content="TEMP">
<title>PartyShare</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

<base href=<%= process.env.BASE_URL %> ></base>

<link href="/views/<%=name%>/style.css" rel="stylesheet" type="text/css">
<% if(locals.scripts){
    for(let i=0;i<scripts.length; i++){%>
    <script src="<%=scripts[i]%>"> </script>
<%}};%>
<script defer src="/views/<%=name%>/script.js"></script>
