<div class="nav-container">
    <style>:root{--primary:#05183f;--light:#122855;--white:#fff;--selected:#234a9973; --error: #d60303;}*{box-sizing:border-box;margin:0;padding:0;font-family:'Lexend';font-weight:300;-ms-overflow-style:none;scrollbar-width:none}*::-webkit-scrollbar{display:none}.nav-container{width:100%;background-color:var(--primary)}.navbar{display:grid;grid-template-columns:.2fr auto 1fr;align-items:center;height:80px;width:100%;max-width:1720px}#navbar-logo{color:var(--white);justify-self:start;margin-left:20px;margin-right:50px;cursor:pointer;font-weight:400;font-size:45px}.nav-menu{display:grid;grid-template-columns:repeat(6,auto);list-style-type:none;text-align:center;width:min-content;justify-self:start}.nav-links{font-weight:400;color:var(--white);white-space:nowrap;padding:20px;text-decoration:none}.nav-links:hover{text-decoration:underline;transition:all .2s ease-out}.nav-links-btn{background:var(--light);padding:6px 16px;border-radius:4px}.menu-toggle .bar{width:25px;height:3px;margin:5px auto;transition:all .3s ease-in-out;background:var(--white)}@media screen and (max-width:768px){.nav-container{position:relative}.nav-menu{display:grid;grid-template-columns:auto;background:var(--light);margin:0;width:100%;position:absolute;top:80px;left:-100%;opacity:0;transition:all .5s ease}#navbar-logo{margin-left:20px}.nav-menu.active{background:var(--light);left:0;opacity:1;transition:all .5s ease}.nav-links{font-weight:400;text-align:center;line-height:60px;width:100%;display:table;z-index:5}.nav-links:hover{background:var(--selected);color:var(--white);transition:all .4s ease}.navbar{width:100%}.nav-links-btn{border:none;padding:0;border-radius:0;background:var(--light)}#mobile-menu{position:absolute;top:20%;right:5%;cursor:pointer;transform:translate(5%,35%)}.menu-toggle .bar{display:block}#mobile-menu.active .bar:nth-child(2){opacity:0}#mobile-menu.active .bar:nth-child(1){transform:translateY(8px) rotate(45deg)}#mobile-menu.active .bar:nth-child(3){transform:translateY(-8px) rotate(135deg)}}.hidden{display:none}</style>
    <nav class="navbar">
       <a href="/" aria-label="Logo Link"><img id="navbar-logo" src="/views/partyshare.png" width="189.33" height="66" style="object-fit:contain;margin-top:8px;" alt="Logo"></img></a>
       <div class="menu-toggle" id="mobile-menu"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
       <ul class="nav-menu">
          <li><a href="/about-us" class="nav-links">About Us</a></li>
          <li><a href="/contact" class="nav-links">Contact</a></li>
          <li><a href="/faq" class="nav-links">FAQ</a></li>
          <%if(acc){%>
          <li><a href="/products/create" class="nav-links">+</a></li>
          <%} else{%>
          <li><a href="/vendor-login" class="nav-links">Vendor Login</a></li>
          <%}%>
       </ul>
    </nav>
    <script>
     const menu=document.querySelector("#mobile-menu");
     const menuLinks=document.querySelector(".nav-menu");
    
     menu.addEventListener("click",()=>{
         menu.classList.toggle("active");
         menuLinks.classList.toggle("active")
     });
    </script>
 </div>