<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("../components/head.ejs",{name: 'default'})  %> 
</head>
<body>
   <%-include('../components/nav.ejs', {acc: false})%>
   <!-- <%-include('../components/loader.ejs')%> -->
</body>
</html>