<div class="main" style="width: 100%; margin: 0px; font-family: tahoma;">
    <div class="navbar" style="width: 100%; text-align: center; background: #05183f;">
        <img src="https://partyshare.infiniti20.repl.co/views/partyshare.png" alt="" class="img" style="display: inline-block; width: 189.33px; height: 66px; object-fit: contain; margin-top: 8px;" />
    </div>
    <div class="content" style="margin-top: 20px; text-align: center;">
        <b>Hi [USER]</b><br />
        <p>We wanted to confirm you've received <b>[ITEM]</b> back from <b>[CUSTOMER]</b>. If so, you should refund their deposit, by clicking the button below. Otherwise, you can get into contact with us at <a href="mailto:janakhosa@gmail.com" style="color:#0d2a66">janakhosa@gmail.com</a></p>
        <br />
         <a href="[DEP_LINK]" style="background:#05183f;color:white;text-decoration:none;padding:12px;border-radius:10px;">Refund Deposit</a>
        <br />
    </div>
</div>