:root{
	--primary:#05183f;
	--light:#122855;
	--white:#fff;
	--grey:#dddddd;
	--darkgrey:#aeaeae;
	--superdark:#767676;
	--selected:#234a9973;
}
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:'Lexend';
}
body{
	overflow-x: hidden;
}
.nav-container{
	width:100%;
	background-color:var(--primary);
}
.navbar{
	display: grid;
	grid-template-columns: 0.2fr auto 1fr;
	align-items: center;
	height: 80px;
	width: 100%;
	max-width: 1720px;
	margin: 0 auto;
}
#navbar-logo{
 color:var(--white);
 justify-self: start;
 margin-left:20px;
 margin-right:50px;
 /* padding: 0 50px 0 0; */
 cursor: pointer;
 font-family:'Sacramento';
 font-weight: 400;
 font-size:45px;
}
.nav-menu{
	display: grid;
	grid-template-columns: repeat(4,auto);
	list-style-type: none;
	text-align: center;
	width: min-content;
	justify-self: start;
}
.nav-links{
	color: var(--white);
	white-space: nowrap;
	padding: 20px;
	text-decoration: none;
}
.nav-links:hover{
	text-decoration:underline;
	transition:all 0.2s ease-out;
}
.nav-links-btn{
	background:var(--light);
	padding:6px 16px;
	border-radius:4px;
}
.menu-toggle .bar{
	width:25px;
	height:3px;
	margin:5px auto;
	transition:all 0.3s ease-in-out;
	background:var(--white);
}
@media screen and (max-width: 767px){
	.nav-container{
		position: relative;
	}
	.nav-menu{
		display:grid;
		grid-template-columns:auto;
		background:var(--light);
		margin:0;
		width:100%;
		position:absolute;
		top:80px;
		left:-100%;
		opacity:0;
		transition:all 0.5s ease;
	}
	#navbar-logo{
		margin-left:20px;
	}
	.nav-menu.active{
		background:var(--light);
		left:0;
		opacity:1;
		transition:all 0.5s ease;
	}
	.nav-links{
		text-align:center;
		line-height:60px;
		width:100%;
		display:table;
		z-index:5;
	}
	.nav-links:hover{
		background:var(--selected);
		color:var(--white);
		transition:all 0.4s ease;
	}
	.navbar{
		width:100%;
	}
	.nav-links-btn{
		border:none;
		padding:0;
		border-radius:0;
		background:var(--light);
	}
	#mobile-menu{
		position: absolute;
		top:20%;
		right:5%;
		cursor: pointer;
		transform:translate(5%,35%);
	}
	.menu-toggle .bar{
		display:block;
	}
	#mobile-menu.active .bar:nth-child(2){
		opacity:0;
	}
	#mobile-menu.active .bar:nth-child(1){
		transform:translateY(8px) rotate(45deg);
	}
	#mobile-menu.active .bar:nth-child(3){
		transform:translateY(-8px) rotate(135deg);
	}
	#product-bar{
		overflow-y: scroll;
		white-space: nowrap;
	}
	#flex-product{
		flex-direction: column;
	}
	.desktop{
		display:none;
	}
	.mobile{
		display:block !important;
	}
	.about{
		width:300px !important;
	}
	.product-desc{
		width:300px !important;
	}
	.product-image{
		margin-left:0 !important;
		margin-right:0 !important;
	}
 #flex-product > div:nth-child(3){
	margin-left:0 !important;
	margin-right:0px !important;
 }
}
.column{
 text-align: center;
}
.product-image{
	border-radius: 10px;
	width: 300px;
	margin-left:20px;
	margin-right:20px;
	background:var(--grey);
	height: 300px;
	object-fit: cover;
	color:var(--darkgrey);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items:center;
	margin-top:20px;
  margin-bottom:10px;
}
h2{
	margin-left:20px;
	margin-top:20px;
	text-align:left;
	font-size:40px;
}
.cost{
	margin-left: 20px;
	font-size: 50px;
	text-align: left;
	font-weight: 500;
	display: block;
	width: 300px;
	border: none;
	outline: none;
}
.deposit{
	margin-left: 20px;
	font-size: 30px;
	text-align: left;
	font-weight: 300;
	display: block;
	width: 300px;
	color:var(--superdark);
	border: none;
	outline: none;
}
.renter{
	text-align:left;
	margin-left:20px;
	color:#4f4f4f;
}
#flex-product{
	display:flex;
}
.product-desc{
	margin:20px;
	outline:none;
	border:none;
	resize: none;
	width:500px;
}
.mobile{
	display:none;
}
.about br{
line-height:0;
}
.about{
	margin-left:20px;
	width:500px;
}
.about b{
	font-size:20px;
	margin-bottom:10px
}
div.about > div{
	margin-bottom:5px;
}
#flex-product > div:nth-child(3){
	margin-left:auto;
	margin-right:20px;
	margin-top:20px;
}
.buy-card{
	width: 300px;
	border-radius: 10px;
	height: 170px;
	text-align:center;
	display: inline-block;
	border: 1px var(--grey) solid;
}
.buy-card button{
	width:270px;
	border:none;
	outline: none;
	cursor: pointer;
	margin-top: 10px;
	color:var(--white);
	background:var(--light);
	border-radius:10px;
	padding:10px;
}
form{
	display:none;
}
.title{
	margin-left:20px;
	margin-top:20px;
	text-align:left;
	font-size:40px;
	border:none;
	outline: none;
}
#flex-product > div:nth-child(2) > div > textarea{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	resize: none;
}
.buy-card div{
    float: left;
    margin-left: 15px;
}
label[for=quantity]{
	font-size:14px;
}
label[for=select]{
	font-size:14px;
}
select{
	outline: none;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	background: none;
	margin-left: 3px;
	border: 1px solid var(--darkgrey);
}
label[for=dep]{
	margin-left:20px;
	margin-top:20px;
	color:var(--superdark);
}
#quantity{
	width: 60px;
	height: 30px;
	border: var(--darkgrey) 1px solid;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	margin: 10px;
}