<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
	<meta name="description" content="TEMPT">
  <title>PartyShare</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet preload">
	<link href="../../../views/form/style.css" rel="stylesheet" type="text/css">
</head>
<body id="home">
 <div class="nav-container">
  <nav class="navbar">
		 <a href="../../../"><img id="navbar-logo" src="../../views/partyshare.png" width="189.33" height="66" style="object-fit:contain;margin-top:8px;"></img></a>
		<div class="menu-toggle" id="mobile-menu">
		 <span class="bar"></span>
		 <span class="bar"></span>
		 <span class="bar"></span>
	 </div>
	 <ul class="nav-menu">
		 <li><a href="../../../about-us" class="nav-links">About Us</a></li>
		 <li><a href="../../../contact" class="nav-links">Contact</a></li>
		 <li><a href="../../../faq" class="nav-links">FAQ</a></li>
		 <li><a href="../../../vendor-login" class="nav-links">Vendor Login</a></li>
		 <!--<li><a href="#" class="nav-links nav-links-btn">Sign Up</a></li>-->
	 </ul>
	</nav>
 </div>
 <div id="form">
 <form action="../../../api/users/new" method="POST">
  <label for="name">Name</label>
	<input id="name" name="name">
	<label for="email">Email Address</label>
	<input type="text" id="email" name="email">
	<label for="password">Password</label>
	<input type="password" id="password" name="password">
	<label for="address">Address</label>
	<input type="text" id="address" name="address" placeholder="2212 Main St.">
	<label for="city">City</label>
	<input type="text" id="city" name="city" placeholder="Oakville">
	<button type="submit">Submit</button>
 </form>
 </div>
<script src="../../../views/form/script.js" type="text/javascript"></script>
</body>
</html>