<!DOCTYPE html>
<html lang="en">

    <head>
        <%-include("../components/head.ejs",{name: 'about-us', title:"About Us - PartyShare"})  %>
        <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=5">

    </head>

    <body>
        <%-include('../components/nav.ejs', {acc: false})%>
        <div class="content">
            <span class="wrapper">
                <h1>About Us</h1>
                <br>
                We've thrown many birthday parties, baby showers, weddings, and many
                other
                events, and we know how the decorations can pile up. So we decided to create a platform where anyone
                can rent
                out their decorations, and find new, fresh items, without any hassle!
            </span>
            <div class="img-wrapper"><img src="/views/about-us/baby-shower-decorations.png"></div>
        </div>
    </body>

</html>