<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PartyShare</title>
</head>
<body>
 <img src="https://i.picsum.photos/id/506/200/300.jpg?hmac=TffVHN_4qC2LKDH1XPGVHEGIO-hOM2Sc11zE-tfc4Po"></img>
</body>
</html>