<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PartyShare</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet" rel="preload">
	<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet" rel="preload">
	<base href="https://partyshare.infiniti20.repl.co/">
	<link href="views/style.css" rel="stylesheet" type="text/css">
	<link href="views/products/style.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div class="nav-container">
  <nav class="navbar">
	 <h1 id="navbar-logo">PartyShare</h1>
	 <div class="menu-toggle" id="mobile-menu">
		 <span class="bar"></span>
		 <span class="bar"></span>
		 <span class="bar"></span>
	 </div>
	 <ul class="nav-menu">
		 <li><a href="#" class="nav-links">Home</a></li>
		 <li><a href="#" class="nav-links">About Us</a></li>
		 <li><a href="#" class="nav-links">Contact</a></li>
		 <li><a href="#" class="nav-links">FAQ</a></li>
		 <!--<li><a href="#" class="nav-links nav-links-btn">Sign Up</a></li>-->
	 </ul>
	</nav>
 </div>
 <img src="https://storage.googleapis.com/partyshare-47d15.appspot.com/<%=product.image%>" alt=""/>

<script src="views/script.js" type="text/javascript"></script>
</body>
</html>